Repository larryw3i/CrazyInternetSpeedMeter: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, shfmt

.pre-commit-config.yaml:

repos:
    - repo: local
      # rev: # 'v4.0.0-alpha.8' # Use the sha or tag you want to point at
      hooks:
          - id: prettier
            name: Use the prettier command to format *.js-like files.
            language: system
            entry: npx prettier --write . 
            files: \.(js|css|less)$
          - id: shfmt
            name: Use the shfmt command to format all bash scripts.
            language: system
            entry: shfmt -i 4 -w -ln bash .
            files: \.(sh|bash)$

Use shfmt to format bash scripts.
  Scripts/CrazyInternetSpeedMeter.larryw3i.sh
  src/metadata.json
Due: shfmt

Add '*.compiled' to '.gitignore'.
  .gitignore
  .pre-commit-config.yaml
  src/extension.js
  src/metadata.json
  src/prefs.js
  src/schemas/gschemas.compiled
Due: prettier

Add '*.compiled' to '.gitignore'.
  src/metadata.json
Due: none

Update 'README.md'.
  README.md
  install.sh
Due: shfmt

Update 'README.md'.
  README.md
Due: none

Remove '*.mo' file.
  src/locale/zh_CN/LC_MESSAGES/CrazyInternetSpeedMeter.mo
Due: none

Adjusting code position.
  src/extension.js
Due: prettier

Update Copyright of files.
  src/extension.js
  src/prefs.js
  src/stylesheet.css
Due: prettier

Make arrow char the property of class.
  src/extension.js
  src/metadata.json
Due: prettier

Update internet speed icons.
  src/metadata.json
  src/prefs.js
Due: prettier

Set version name to UTC time.
  CrazyInternetSpeedMeter.sh
  src/metadata.json
Due: shfmt

Set version name to UTC time.
  src/metadata.json
Due: none

Daily copy.
  .gitignore
  CrazyInternetSpeedMeter.sh
  Scripts/CrazyInternetSpeedMeter.larryw3i.sh
  src/metadata.json
Due: shfmt

Daily copy.
  .pre-commit-config.yaml
  README.md
  src/metadata.json
Due: none

Daily copy.
  src/extension.js
  src/metadata.json
Due: prettier

Daily copy.
  .gitignore
  CrazyInternetSpeedMeter.sh
  src/extension.js
  src/metadata.json
  src/stylesheet.css
Due: prettier, shfmt

Daily copy.
  CrazyInternetSpeedMeter.sh
  src/metadata.json
Due: shfmt

Daily copy.
  CrazyInternetSpeedMeter.sh
  src/metadata.0.json
Due: shfmt

Daily copy.
  helper.sh
  src/metadata.json
Due: shfmt

Daily copy.
  helper.sh
Due: shfmt

Daily copy.
  .gitignore
  helper.sh
  src/metadata.json
  src/stylesheet.css
Due: prettier, shfmt

Daily copy.
  Scripts/CrazyInternetSpeedMeter.larryw3i.sh
  helper.sh
  src/metadata.json
  src/stylesheet.css
Due: prettier, shfmt

Update "netSpeedLabel" destroying function.
  src/extension.js
  src/metadata.json
Due: prettier

Update "url" metadata.
  src/metadata.json
Due: none

Update "getNetSpeedText0" function.
  src/extension.js
  src/metadata.json
  src/prefs.js
Due: prettier

Update schemas.
  src/schemas/org.gnome.shell.extensions.CrazyInternetSpeedMeter.gschema.xml
Due: none

Update schemas.
  src/prefs.js
Due: prettier

Update README.md.
  README.md
Due: none

Add netSpeedChars.
  src/prefs.js
Due: prettier

Make it enable for Gnome 47.
  src/metadata.json
Due: none
