Repository larryw3i/CrazyInternetSpeedMeter: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, shfmt

prettier:
  name: Use the prettier command to format *.js-like files.
  language: system
  entry: npx prettier --write .

shfmt:
  name: Use the shfmt command to format all bash scripts.
  language: system
  entry: shfmt -i 4 -w -ln bash .

Update netSpeedCharList.
  src/prefs.js
Due: prettier

Remove netSpeedChars.
  src/metadata.json
Due: none

Record release hash.
  helper.sh
  releases/sha256sums
  src/metadata.json
Due: shfmt

Daily copy.
  src/prefs.js
Due: prettier

Daily copy.
  README.md
  releases/sha256sums
  src/extension.js
  src/metadata.json
  src/prefs.js
Due: prettier

Daily copy.
  src/extension.js
Due: prettier

Daily copy.
  .editorconfig
  helper.sh
  releases/sha256sums
  src/extension.js
  src/metadata.json
Due: prettier, shfmt

Ignore proton vpn related interfaces.
  releases/sha256sums
  src/extension.js
  src/metadata.0.json
  src/metadata.json
Due: prettier

Optimize the script.
  src/extension.js
Due: prettier

Path conditions:
  prettier: any of: \.(js|css|less)$
  shfmt: any of: \.(sh|bash)$
